<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../media/style.css">
    <link rel="shortcut icon" href="../media/svg/lock-solid.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">

</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light shadow bg-light position-fixed w-100" id="mainHeader">
        <a class="navbar-brand" href="#">
            <img src="../media/images/Loco-carrera.png" alt="Logo" width="70" height="60"
                class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Legislación Informática
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="derechosAuto.html">Derechos de Autor, Privacidad y Protección de Datos</a>
                        <a class="dropdown-item" href="leyes.html">Leyes Nacionales e Internacionales</a>
                        <a class="dropdown-item" href="registroObras.html">Registro de Obras</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ética Informática y Delitos Informáticos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="etica.html">Ética y Delitos Informáticos</a>
                        <a class="dropdown-item" href="delitos.html">Delitos Informáticos en México</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="conclusiones.html">Conclusiones <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </header>
    <br>
    <br>
    <main class="container-fluid d-flex justify-content-center align-items-center flex-column mt-4 ">

        <h1 class="noto-sans">Conclusiones</h1>
        <section class="row w-100 bg-light d-flex flex-column shadow mt-2 p-4">
            <h2>Ética Informática</h2>
            <p>
                La legislación informática y la ética informática son pilares fundamentales en la era digital, donde la tecnología y la información juegan un papel crucial en nuestras vidas diarias. A lo largo de nuestra conversación, hemos explorado varios aspectos clave:
            </p>
            <h4>Derechos de Autor, Privacidad y Protección de Datos:</h4>
            <ul>
                <li>
                    Los derechos de autor protegen las obras creativas, asegurando que los autores reciban reconocimiento y compensación.
                </li>
                <li>
                    La privacidad y la protección de datos son esenciales para salvaguardar la información personal de los individuos, reguladas por leyes como la LFPDPPP en México y el GDPR en la Unión Europea.
                </li>
            </ul>
            <h4>Delitos Informáticos:</h4>
            <ul>
                <li>
                    Los delitos informáticos, como el acceso no autorizado, el fraude y el ciberacoso, representan amenazas significativas en el entorno digital.
                </li>
                <li>
                    En México, estos delitos están tipificados en el Código Penal Federal y otras leyes específicas, como la Ley Olimpia.
                </li>
            </ul>
            <h4>Ética Informática:</h4>
            <ul>
                <li>
                    La ética informática aborda los principios morales que guían el uso de la tecnología, incluyendo la privacidad, la propiedad intelectual y el impacto social.
                </li>
                <li>
                    La elaboración de códigos de conducta y ética informática es crucial para establecer normas claras y promover un comportamiento responsable en el uso de la tecnología.

                </li>
            </ul>
            <h4>Avisos de Privacidad:</h4>
            <p>Los avisos de privacidad son documentos esenciales que informan a los titulares de datos sobre cómo se manejará su información personal, garantizando transparencia y cumplimiento legal.</p>

        </section>
        <h1 class="noto-sans my-3">Referencias</h1>
        <section class="row w-100 bg-light shadow mt-2 p-4">
           <p>
            Jurídicas, N. (2021, November 4). Real Decreto-ley 24/2021: Nueva normativa sobre derechos de autor y afines en el mercado único digital. Noticias Jurídicas. <a href="https://noticias.juridicas.com/actualidad/noticias/16713-real-decreto-ley-24-2021:-nueva-normativa-sobre-derechos-de-autor-y-afines-en-el-mercado-unico-digital/">https://noticias.juridicas.com/actualidad/noticias/16713-real-decreto-ley-24-2021:-nueva-normativa-sobre-derechos-de-autor-y-afines-en-el-mercado-unico-digital/</a>
           </p>
           <p>
            Legislación informática en México. (2022, April 23). [Slide show]. SlideShare. <a href="https://es.slideshare.net/slideshow/legislacin-informtica-en-mxico-251649194/251649194">https://es.slideshare.net/slideshow/legislacin-informtica-en-mxico-251649194/251649194</a>
           </p>
           <p>Gob.mx. (n.d.). gob.mx. <a href="https://www.gob.mx/tramites/ficha/inscripcion-de-obra-literaria-o-artistica/INDAUTOR3258">https://www.gob.mx/tramites/ficha/inscripcion-de-obra-literaria-o-artistica/INDAUTOR3258</a></p>
           <p>Introducción a la ley de copyright internacional. (n.d.). <a href="https://copyrightservice.net/es/copyright_international">https://copyrightservice.net/es/copyright_international</a></p>
           <p>OHCHR. (n.d.). Normas internacionales relativas a la privacidad digital. <a href="https://www.ohchr.org/es/privacy-in-the-digital-age/international-standards-relating-digital-privacy">https://www.ohchr.org/es/privacy-in-the-digital-age/international-standards-relating-digital-privacy</a></p>
           <p>INAI – Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales. (n.d.). <a href="https://home.inai.org.mx/">https://home.inai.org.mx/</a></p>
           <p>Modesty. (2022, November 1). Ética informática. TechEdu. <a href="https://techlib.net/techedu/etica-informatica/"></a></p>
           <p>Abogado, R. (2024, May 3). Importancia de la Ley de Delitos Informáticos en México: Penas y Castigos. Rey Abogado. <a href="https://reyabogado.com/mexico/como-se-castiga-el-delito-informatico-en-mexico/"></a></p>
           <p>Casillas, M. G. A., & Ehrenzweig, M. Á. M. (2023). Computer crimes in Mexico. Recognition in the criminal laws of the Mexican entities. Paakat: Revista De Tecnología Y Sociedad, 1–36. <a href="https://doi.org/10.32870/pk.a13n24.759"></a></p>
        </section>

    </main>
    <footer class="bg-upt text-white text-center p-3 container-fluid  w-100" id="mainFooter">
        <h2><b>Universidad Politpécnica de Técamac</b></h2>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b0cb49c5f4.js" crossorigin="anonymous"></script>
    <script src="../media/script.js"></script>
</body>

</html>