<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../media/style.css">
    <link rel="shortcut icon" href="../media/svg/lock-solid.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light shadow bg-light position-fixed w-100" id="mainHeader">
        <a class="navbar-brand" href="#">
            <img src="../media/images/Loco-carrera.png" alt="Logo" width="70" height="60"
                class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Legislación Informática
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="derechosAuto.html">Derechos de Autor, Privacidad y Protección de
                            Datos</a>
                        <a class="dropdown-item" href="leyes.html">Leyes Nacionales e Internacionales</a>
                        <a class="dropdown-item" href="registroObras.html">Registro de Obras</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ética Informática y Delitos Informáticos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="etica.html">Ética y Delitos Informáticos</a>
                        <a class="dropdown-item" href="delitos.html">Delitos Informáticos en México</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="conclusiones.html">Conclusiones <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </header>
    <br>
    <br>
    <main class="container-fluid d-flex justify-content-center align-items-center flex-column mt-4 ">

        <h1 class="noto-sans">Ética informática y delitos informáticos,</h1>
        <section class="row w-100 bg-light shadow mt-2 p-4">
            <h2>Ética informática</h2>
            <p>Ética Informática: La ética informática es una rama de la ética que se ocupa de los principios morales
                que rigen el uso de los ordenadores y la tecnología relacionada. Se centra en el impacto de la
                tecnología en la sociedad y en las implicaciones éticas de su uso. Algunos de los temas más relevantes
                en la ética informática incluyen:</p>
            <ul>
                <li>Privacidad y seguridad: Consideraciones sobre la recolección, almacenamiento y uso de datos personales.</li>
                <li>
                    Propiedad intelectual: Cuestiones sobre la copia y distribución de material con derechos de autor.
                </li>
                <li>
                    Libertad de expresión: Debates sobre los límites de lo que se puede decir en línea.
                </li>
                <li>
                    Delitos informáticos: Reflexiones sobre la ética de cometer delitos utilizando tecnología.
                </li>
                <li>
                    Impacto social: Cómo la tecnología afecta a la sociedad en su conjunto
                </li>
            </ul>
        </section>

        <section class="row w-100 bg-light shadow mt-2 p-4">
            <h2>Delitos informáticos</h2>
            <p>Los delitos informáticos son actividades ilegales que se cometen utilizando dispositivos electrónicos y el internet. Estos delitos pueden causar daños patrimoniales o personales a individuos o instituciones. Algunos ejemplos de delitos informáticos incluyen:</p>
            <ul>
                <li>
                    Privacidad y seguridad: Consideraciones sobre la recolección, almacenamiento y uso de datos personales.</li>
                <li>
                    Suplantación de identidad: Usar la identidad de otra persona para cometer fraudes.
                </li>
                <li>
                    Ciberacoso: Hostigar o intimidar a personas a través de medios digitales.
                </li>
                <li>
                    Difusión de virus: Propagar software malicioso para dañar sistemas o robar información.
                </li>
                <li>
                    Fraude: Engañar a personas para obtener beneficios económicos
                </li>
            </ul>
        </section>

    </main>
    <footer class="bg-upt text-white text-center p-3 container-fluid  w-100" id="mainFooter">
        <h2><b>Universidad Politpécnica de Técamac</b></h2>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b0cb49c5f4.js" crossorigin="anonymous"></script>
    <script src="../media/script.js"></script>
</body>

</html>