<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../media/style.css">
    <link rel="shortcut icon" href="../media/svg/lock-solid.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">

</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light shadow bg-light position-fixed w-100" id="mainHeader">
        <a class="navbar-brand" href="#">
            <img src="../media/images/Loco-carrera.png" alt="Logo" width="70" height="60"
                class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Legislación Informática
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="derechosAuto.html">Derechos de Autor, Privacidad y Protección de Datos</a>
                        <a class="dropdown-item" href="leyes.html">Leyes Nacionales e Internacionales</a>
                        <a class="dropdown-item" href="registroObras.html">Registro de Obras</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ética Informática y Delitos Informáticos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="etica.html">Ética y Delitos Informáticos</a>
                        <a class="dropdown-item" href="delitos.html">Delitos Informáticos en México</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="conclusiones.html">Conclusiones <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </header>
    <br>
    <br>
    <main class="container-fluid d-flex justify-content-center align-items-center flex-column mt-4 ">

        <h1 class="noto-sans">Proceso para registro d eobras</h1>
        <section class="row w-100 d-flex flex-column bg-light shadow mt-2 p-4">
            <h2>Proceso</h2>
            <ul>
                <li>
                    En línea: A través del portal de trámites de INDAUTOR.
                </li>
                <li>
                    Presencial: En la Dirección del Registro Público del Derecho de Autor en Ciudad de México.
                </li>
            </ul>
            Estos trámites aseguran que los autores puedan proteger legalmente sus obras y recibir reconocimiento y compensación por su trabajo.
        </section>
        
        <h1 class="noto-sans my-4">Proceso de Elaboración de Avisos de Privacidad</h1>
        <section class="row w-100 d-flex flex-column bg-light shadow mt-2 p-4">
            <h2>Proceso</h2>
            <p>
                El aviso de privacidad es un documento fundamental para informar a los titulares de datos personales sobre cómo se recopilarán, utilizarán, almacenarán y protegerán sus datos. Aquí te dejo los pasos esenciales para elaborar un aviso de privacidad en México:
            </p>
            Identificación del Responsable
            <ul>
                <li>
                    Nombre y domicilio del responsable del tratamiento de los datos personales.
                </li>
                <li>
                    Datos de contacto del responsable o del departamento encargado de la protección de datos personales.
                </li>
            </ul>
            Descripción de los Datos Personales Recabados
            <ul>
                <li>
                    Tipos de datos personales que se recopilarán (por ejemplo, nombre, dirección, correo electrónico, etc.).
                </li>
                <li>
                    Datos personales sensibles si aplica (por ejemplo, datos de salud, origen étnico, etc.).
                </li>
            </ul>
            Finalidades del Tratamiento
            <ul>
                <li>
                    Propósitos específicos para los cuales se recopilan los datos personales.
                </li>
                <li>
                    Finalidades secundarias si existen, y la posibilidad de que el titular se oponga a estas.
                </li>
            </ul>
            Transferencias de Datos
            <ul>
                <li>
                    Terceros a quienes se transferirán los datos personales.
                </li>
                <li>
                    Finalidades de dichas transferencias.
                </li>
                <li>
                    Consentimiento del titular para estas transferencias, si es necesario.
                </li>
            </ul>
            Derechos ARCO
            <ul>
                <li>
                    Acceso, Rectificación, Cancelación y Oposición (ARCO): Explicación de los derechos que tienen los titulares sobre sus datos personales.
                </li>
                <li>
                    Procedimiento para ejercer estos derechos, incluyendo los datos de contacto y los pasos a seguir.
                </li>
            </ul>
            Mecanismos de Seguridad
            <ul>
                <li>
                    Medidas de seguridad implementadas para proteger los datos personales.
                </li>
                <li>
                    Procedimientos en caso de violaciones de seguridad.
                </li>
            </ul>
            Cambios al Aviso de Privacidad
            <ul>
                <li>
                    Procedimiento para notificar a los titulares sobre cambios en el aviso de privacidad.
                </li>
                <li>
                    Medios a través de los cuales se comunicarán estos cambios (por ejemplo, sitio web, correo electrónico, etc.).
                </li>
            </ul>
            Consentimiento del Titular
            <ul>
                <li>
                    Forma de obtener el consentimiento del titular para el tratamiento de sus datos personales.
                </li>
                <li>
                    Opciones para que el titular pueda revocar su consentimiento en cualquier momento.
                </li>
            </ul>
        </section>


    </main>
    <footer class="bg-upt text-white text-center p-3 container-fluid  w-100" id="mainFooter">
        <h2><b>Universidad Politpécnica de Técamac</b></h2>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b0cb49c5f4.js" crossorigin="anonymous"></script>
    <script src="../media/script.js"></script>
</body>

</html>